.container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.workPanel {
    padding: 10px;
    height: 890px;
}

.workPanel > * {
    border: 1px solid #000;
}

.workPanel .listPanel {
    display: flex;
    padding: 5px;
    align-items: center;
}

.list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workPanel .designPanel {
    display: flex;
    flex: 3;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

.errorPanel {
    display: flex;
    flex: 1;
    border-top: 1px solid #000;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

.toolPanel {
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
}
