.container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.workPanel {
    padding: 10px;
    height: 890px;
}

.workPanel > * {
    border: 1px solid #000;
}

.workPanel .listPanel {
    display: flex;
    padding: 5px;
    align-items: center;
}

.list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-item-text > span {
    font-family: "Signika Negative", sans-serif !important;
}
.list-item {
    border-radius: 25px !important;
}
.list-item:hover {
    background-color: rgba(63, 81, 181, 0.2) !important;
}

.workPanel .designPanel {
    display: flex;
    flex: 3;
}

.designPanel .workField {
    width: 100%;
    height: 100%;
    padding: 5px;
    display: unset;
}

.logPanel {
    display: flex;
    flex: 1;
    border-top: 1px solid #000;
}

.toolPanel {
    display: flex;
    flex-direction: column;
    padding: 8px;
    align-items: center;
}

.toolPanel .tools {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.toolPanel .tool-title {
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0;
    font-family: "Kanit", sans-serif !important;
}

.brace {
    width: 100%;
}
