name: Deploy to Heroku

on:
    push:
        branches:
            - master
    pull_request:
        branches:
            - master

jobs:
    deploy:
        name: Deploy to Heroku server
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v2
            - name: Build, Push and Release the project Docker container to Heroku
              uses: akhileshns/heroku-deploy@v3.12.12
              with:
                  heroku_api_key: ${{ secrets.HEROKU_KEY }}
                  heroku_app_name: ${{ secrets.HEROKU_APP_NAME }}
                  heroku_email: ${{ secrets.HEROKU_EMAIL }}
                  usedocker: true
